books {
	color: white;
	background-color : rgb(193, 229, 236);
	width: 100%;
}
heading {
	color: rgb(210, 0, 0);
	font-size : 40px;
	background-color : rgb(106, 106, 106);
}
heading, title, author, publisher, edition, price {
	display : block;
}
title {
	font-size : 25px;
	font-weight : bold;
}